// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center {
  margin: 0 auto;
  float:none;
}

h1.name {
  margin-top: 150px;
  margin-bottom: 50px;
}

input.string {
  height: 40px;
}

.contact-detail {
  margin-top: 80px;
}

.contact-header {
  margin-top: 100px;
}

.boardless-table {
  border: none;
}
